{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Title -->
    <title>iMERGENCY</title>

  </head>
  <body class="bg-dark">

      <!-- Hidden -->
      <div class="d-none" id="url">{{url}}</div>
      <div class="d-none" id="emergency">{{emergency}}</div>
      <div class="d-none" id="reached">{{reached}}</div>

      <!-- Header -->
      <header>
          <div class="navbar navbar-dark">
            <div class="navbar-brand ml-auto mr-auto">
              <h1 class="my-2">iMERGENCY</h1>
            </div>
          </div>
      </header>

      <!-- Buttons -->
      <div class="container text-center" id="button">
          {% if reached != True %}
            <button type="button" class="btn btn-danger bg-lg p-4 m-2" onclick="sendSMS(1);">Emergency</button>
            {% if emergency %}
            <button type="button" class="btn btn-danger bg-lg p-4 m-2 px-5" onclick="Stop();">Stop</button>
            {% endif %}
          {% endif %}

          {% if emergency != True %}
            <button type="button" class="btn btn-warning bg-lg p-4 m-2" onclick="sendSMS(2);">On My Way</button>
            {% if reached %}
            <button type="button" class="btn btn-success bg-lg p-4 m-2" onclick="Stop();">Reached</button>
            {% endif %}
          {% endif %}
      </div>

      <!-- Details -->
      <div class="container">
          <center><h2>Details</h2></center>
          <hr>
          <form class="row my-4">
              <div class="col offset-md-2 offset-lg-3">
                 <div class="form-group row">
                     <label for="name" class="col-form-label ml-3 mr-3">Name:</label>
                     <div class="row mx-2 col-md-8 col-lg-6">
                       <input required type="text" class="form-control ml-md-4 col" id="name" placeholder="Enter Name">
                     </div>
                     <div id="nameHelp" class="form-text text-danger ml-4 ml-lg-0">Please enter your name.</div>
                 </div>
                 <div class="form-group row">
                     <label for="phoneno1" class="col-form-label ml-3">Phone No.1:</label>
                     <div class="row mx-2 col-md-8 col-lg-6">
                       <input type="text" class="form-control col-2 col-md-3" id="country1" value="+91" size="2">
                       <input required type="text" class="form-control ml-2 col" id="phone1" placeholder="Enter Phone No.1">
                     </div>
                     <div id="phoneHelp" class="form-text text-danger ml-4 ml-lg-0">Enter atleast one phone number.</div>
                 </div>
                 <div class="form-group row">
                      <label for="phoneno2" class="col-form-label ml-3">Phone No.2:</label>
                      <div class="row mx-2 col-md-8 col-lg-6">
                        <input type="text" class="form-control col-2 col-md-3" id="country2" value="+91" size="2">
                        <input required type="text" class="form-control ml-2 col" id="phone2" placeholder="Enter Phone No.2">
                      </div>
                 </div>
                 <div class="form-group row">
                      <label for="phoneno3" class="col-form-label ml-3">Phone No.3:</label>
                      <div class="row mx-2 col-md-8 col-lg-6">
                        <input type="text" class="form-control col-2 col-md-3" id="country3" value="+91" size="2">
                        <input required type="text" class="form-control ml-2 col" id="phone3" placeholder="Enter Phone No.3">
                      </div>
                 </div>
                 <div class="form-group row my-4">
                    <button type="button" class="btn btn-primary offset-4 offset-md-3 offset-lg-2 col-4 col-md-3 col-lg-2 p-2" onclick="save();">Save</button>
                 </div>
              </div>
          </form>
      </div>


    <!-- JavaScript -->
    <script src="{% static 'js/jquery-3.5.1.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/popper.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/script.js' %}" charset="utf-8"></script>
  </body>
</html>
