body {
  color: white;
}

header {
  background-color: black;
}

#button {
  margin-top: 5%;
  margin-bottom: 5%;
}

@media (min-width:768px) and (max-width:991px) {
  #phoneHelp, #nameHelp {
    margin-left: 22% !important;
  }
}
